/* General css */
html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
[hidden] {
	display: none;
}
a {
	background-color: transparent;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
img {
	border: 0px currentColor; border-image: none;
}
pre {
	overflow: auto;
}
pre {
	font-family: monospace,monospace; font-size: 1em;
}
button {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
input {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
input {
	line-height: normal;
}
* {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
::after {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
::before {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
html {
	font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	color: rgb(51, 51, 51); line-height: 1.4285; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);
}
button {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
input {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
a {
	color: rgb(51, 122, 183); text-decoration: none;
}
a:focus {
	color: rgb(35, 82, 124); text-decoration: underline;
}
a:hover {
	color: rgb(35, 82, 124); text-decoration: underline;
}
a:focus {
	outline: dotted thin; outline-offset: -2px;
}
img {
	vertical-align: middle;
}
.img-responsive {
	height: auto; display: block; max-width: 100%;
}
h1 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h3 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h5 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h1 {
	margin-top: 20px; margin-bottom: 10px;
}
h3 {
	margin-top: 20px; margin-bottom: 10px;
}
h5 {
	margin-top: 10px; margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
h5 {
	font-size: 14px;
}
p {
	margin: 0px 0px 10px;
}
pre {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre {
	margin: 0px 0px 10px; padding: 9.5px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(51, 51, 51); line-height: 1.4285; font-size: 13px; display: block; -ms-word-break: break-all; -ms-word-wrap: break-word; background-color: rgb(245, 245, 245);
}
.container {
	padding-right: 15px; padding-left: 0px; margin-right: auto; margin-left: auto;
}
.row {
	margin-right: -15px; margin-left: -15px;
}
.help-block {
	color: rgb(115, 115, 115); margin-top: 5px; margin-bottom: 10px; display: block;
}
.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid transparent; border-image: none; text-align: center; line-height: 1.4285; font-size: 14px; font-weight: 400; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; background-image: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.btn:focus:active {
	outline: dotted thin; outline-offset: -2px;
}
.btn:focus {
	outline: dotted thin; outline-offset: -2px;
}
.btn:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.btn-default:active {
	border-color: rgb(173, 173, 173); color: rgb(51, 51, 51); background-color: rgb(230, 230, 230);
}
.btn-default:focus {
	border-color: rgb(173, 173, 173); color: rgb(51, 51, 51); background-color: rgb(230, 230, 230);
}
.btn-default:hover {
	border-color: rgb(173, 173, 173); color: rgb(51, 51, 51); background-color: rgb(230, 230, 230);
}
.btn-default:active {
	background-image: none;
}
.container::after {
	display: table; content: " ";
}
.container::before {
	display: table; content: " ";
}
.row::after {
	display: table; content: " ";
}
.row::before {
	display: table; content: " ";
}
.container::after {
	clear: both;
}
.row::after {
	clear: both;
}
.center-block {
	margin-right: auto; margin-left: 0px; display: block;
}
.hide {
	display: none !important;
}
html {
	-ms-overflow-x: hidden; max-width: 100%;
}
body {
	transform-origin: 50% 0%; padding-top: 20px; padding-bottom: 24px; -ms-overflow-x: hidden; max-width: 100%; background-color: rgb(248, 152, 33); -webkit-transform-origin: 50% 0%;
}
#header {
	width: 100%; padding-bottom: 5px;
}
#picmeh1id {
	color: rgba(248, 247, 187, 1); padding-bottom: 0px; font-family: Segoe UI Light,CustomSegoeUILight,Arial; font-size: 58px; font-weight: 100; margin-top: 0px; margin-bottom: 0px;
}
#headertext {
	margin-left: 0px;text-align:center;width:100%;
}
.subheader {
	color: rgba(248, 247, 187, 1); font-family: Segoe UI Semibold,CustomSegoeSemibold,Arial; font-size: 18px; margin-top: -2px; margin-left: 12px;
}
#demoSpan {
	color: rgba(224, 104, 38, 1);
}
#dontWorryId {
	padding-top: 20px; margin-bottom: 10px;
}
.action {
	border: 1px solid rgba(248, 247, 187, 1); border-image: none; color: rgba(248, 247, 187, 1); font-family: Segoe UI Semibold,CustomSegoeSemibold,Arial; font-size: 19px;
}
.bodyfont {
	color: rgba(248, 247, 187, 1); font-family: Segoe UI,CustomSegoeUI,Arial; font-size: 21px; font-style: normal;
}
.action:hover {
	outline: 0px !important; border: 1px solid rgba(248, 247, 187, 1); border-image: none; color: rgba(248, 247, 187, 1);
}
.action:focus {
	outline: 0px !important; border: 1px solid rgba(248, 247, 187, 1); border-image: none; color: rgba(248, 247, 187, 1);
}
.action:active {
	outline: 0px !important; border: 1px solid rgba(248, 247, 187, 1); border-image: none; color: rgba(248, 247, 187, 1);
}
.link:hover {
	outline: 0px !important; color: rgba(248, 247, 187, 1);
}
.link:focus {
	outline: 0px !important; color: rgba(248, 247, 187, 1);
}
.link:active {
	outline: 0px !important; color: rgba(248, 247, 187, 1);
}
@media screen and (max-width:500px)
{
    .subheader {
	color: rgba(248, 247, 187, 1); font-family: Segoe UI Semibold,CustomSegoeSemibold,Arial; font-size: 12px; margin-top: -2px; margin-left: 12px;
}
    #picmeh1id {
        color: rgba(248, 247, 187, 1);
        padding-bottom: 0px;
        font-family: Segoe UI Light,CustomSegoeUILight,Arial;
        font-size: 28px;
        font-weight: 100;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #headerimage{
        max-width:100px;
    }
}